/* Structure */
.character-container {
  padding: 5px;
  margin: 0 auto;
}

.button-row {
  margin: 10px 0;
}

.mat-flat-button {
  margin: 5px;
}

.highlight {
  color: #e82765;
}

.character-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  div {
    margin: 0 1rem;
  }

  div.character-name {

    width: 35%;

    mat-form-field {
      width: 80%;
    }
  }

  div.character-detail {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 60%;

    mat-form-field {
      width: 30%;
    }
  }

  div.ability-scores {

    width: 30%;

    .ability-field {

      &.ability-score {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;

        mat-form-field {

          width: 30%;
        }
      }
    }
  }

  div.saving-throws {

    width: 20%;

    h2.stats {

      margin-top: 1rem;
    }

    .throw {

      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      mat-checkbox,
      input {
        width: 50%;
      }
    }

    .ability-field {

      margin: 0.5rem 0 0 0;
      width: 100%;

      mat-form-field {

        width: 100%;
      }
    }
  }

  div.skills {

    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h2,
    p {
      width: 100%;
      margin: .25rem 0;
    }

    .skill {

      width: 40%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      margin: 0;

      mat-checkbox {
        width: 60%;
      }

      input {
        text-align: right;
        width: 20%;
      }
    }
  }

  div.quick-stats {

    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    mat-form-field {
      width: 30%;
    }
  }

  div.health-stats {

    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    mat-form-field,
    p {

      width: 24%;
    }
  }

  div.wealth {

    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .currency {
      width: 10%;

      mat-form-field {

        width: 100%;
      }
    }
  }

  div.physical-traits {

    width: 20%;

    .height,
    .weight {

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0;

      mat-form-field {

        width: 30%;
      }
    }

    mat-form-field {

      width: 100%;
    }
  }
  div.physical-stats {

    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    mat-form-field {
      width: 100%;
    }
  }
  div.personality-traits {

    width: 50%;

    div.personality-trait {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .custom-toggle {
        width: 10%;
        text-align: right;
      }
      .toggle-roll {
        width: 10%;
      }
      mat-form-field {
        width: 70%;
      }

    }

    mat-form-field {

      width: 100%;
    }
  }



}


