/* Structure */
.character-container {
  padding: 5px;
  margin: 0 auto;
}

.character-form {
  min-width: 150px;
  max-width: 500px;
  width: 80%;
  margin: 0 auto;
}

.button-row {
  margin: 10px 0;
}

.mat-flat-button {
  margin: 5px;
}


.character-card {

  .header {

    min-height: 150px;
    .character-name-header {
      width: 30%;
      float: left;
      border: 1px solid black;

      mat-form-field {
        width: 100%;
        height: 3rem;
      }
    }
    .character-detail-header {
      padding: 1rem;
      width: 60%;
      float: right;
      border: 1px solid black;
      text-align: center;

      mat-form-field {
        width: 28%;
        height: 3rem;
        margin: 0 1rem;
      }
    }
  }

  .character-details {

    .abilities {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;

      .ability-scores {

        display: flex;
        flex-wrap: wrap;
        width: 20%;

        margin: 0 .5rem;

        .ability-score {
          flex-flow: wrap;
          display: flex;
          width: 100%;
          justify-content: center;

          mat-form-field {
            width: 100%;
            display: flex;
            flex-flow: wrap;
            justify-content: center;

            mat-label {
              width: 50%;
            }
            input {
              width: 50%;
            }
          }
        }
      }

      .ability-checks {
        display: flex;
        flex-wrap: wrap;
        width: 20%;

        margin: 0 .5rem;

        .savingThrows {

          .throw {

            display: flex;
            flex-wrap: nowrap;
            width: 100%;

            mat-checkbox {
              width: 75%;
            }
            input {
              width: 25%;
            }
          }
        }
      }
    }

  }

  .button-row {
    bottom: 0;
  }

}
